.logo{
    margin-left: 500px ;
    padding-top: 6px ;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(101, 175, 236);
    color: white;
    text-align: center;
    height: 6%;
 }
 .header{
   background-color: rgb(102, 173, 236);
 }
 